[submodule "firmware/extern/CMSIS-DSP"]
	path = firmware/extern/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
[submodule "firmware/extern/mruby"]
	path = firmware/extern/mruby
	url = https://github.com/mruby/mruby
[submodule "firmware/extern/CMSIS_6"]
	path = firmware/extern/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
[submodule "firmware/extern/monocypher"]
	path = firmware/extern/monocypher
	url = https://github.com/LoupVaillant/Monocypher.git
[submodule "firmware/extern/cmsis-device-wl"]
	path = firmware/extern/cmsis-device-wl
	url = https://github.com/STMicroelectronics/cmsis-device-wl
[submodule "firmware/extern/stm32wlxx-hal-driver"]
	path = firmware/extern/stm32wlxx-hal-driver
	url = https://github.com/STMicroelectronics/stm32wlxx-hal-driver
[submodule "tools/cad/extern/LEAP71_ShapeKernel"]
	path = tools/cad/extern/LEAP71_ShapeKernel
	url = https://github.com/leap71/LEAP71_ShapeKernel
[submodule "tools/cad/extern/LEAP71_LatticeLibrary"]
	path = tools/cad/extern/LEAP71_LatticeLibrary
	url = https://github.com/leap71/LEAP71_LatticeLibrary
[submodule "firmware/extern/subghz-phy"]
	path = firmware/extern/subghz-phy
	url = https://github.com/STMicroelectronics/stm32-mw-subghz-phy
[submodule "firmware/extern/stm32-mw-lorawan"]
	path = firmware/extern/stm32-mw-lorawan
	url = https://github.com/Alexey-Lukin/stm32-mw-lorawan
