:concurrency: 15
:queues:
  - [telemetry, 3] # Високий пріоритет: швидка розпаковка AES
  - [default, 2]   # Середній пріоритет: email, скидання паролів
  - [web3, 1]      # Низький пріоритет: повільні запити до блокчейну
