<table class="w-full text-left font-mono text-compact border border-emerald-900 bg-black">
  <thead class="bg-emerald-950/20 text-emerald-800 uppercase text-mini tracking-widest">
    <tr>
      <th class="p-4">Type</th>
      <th class="p-4">Amount</th>
      <th class="p-4">Status</th>
      <th class="p-4">TX Hash</th>
      <th class="p-4 text-right">Timestamp</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-emerald-900/30">
    <%= content %>
  </tbody>
</table>
